@model Etudient_ASP.context.Client
@{
    ViewBag.title = "Student";
}

@using (Html.BeginForm("AddStudent", "Student", FormMethod.Post)) {
    <div class="container">
    <div class="form-group">
        <label> ID</label>
        @Html.TextBoxFor(x => x.Id, new { @class = "Form Controle" })
    </div>
    <div class="form-group">
        <label> Nom</label>
        @Html.TextBoxFor(x => x.Nom, new { @class = "Form Controle" })
    </div>
    <div class="form-group">
        <label> Prénom</label>
        @Html.TextBoxFor(x => x.Prénom, new { @class = "Form Controle" })
    </div>
    <div class="form-group">
        <label> Adresse</label>
        @Html.TextBoxFor(x => x.Adresse, new { @class = "Form Controle" })
    </div>
    
    </div>
    <div>
        <div class="from groupe">
            <button type="submit" class=" btn btn-primary"> submit </button>

        </div>


    </div>
}
   